{% extends "FOSUserBundle::admin-layout.html.twig" %}

{% block breadcrumbs %}
    <li>
        <a href={{ path('fos_user_security_login') }} title="Login">Login</a>
    </li>
    <li class="active">Password Reset</li>
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% set content_title = 'Request Password Reset' %}

{% block fos_user_content %}
    <div class="col-xs-10 col-xs-offset-1 bottom-15">
        <div class="alert alert-danger text-center">
            <p>
                {{ 'resetting.password_already_requested'|trans }}
            </p>
        </div>
    </div>
{% endblock %}